[submodule "submodules/hdev"]
	path = submodules/hdev
	url = https://github.com/fpgasystems/hdev.git
[submodule "submodules/workflows"]
	path = submodules/workflows
	url = https://github.com/oreolag/workflows.git
