[submodule "submodules/hdev"]
	path = submodules/hdev
	url = https://github.com/fpgasystems/hdev.git
	branch = main
[submodule "submodules/workflows"]
	path = submodules/workflows
	url = https://github.com/oreolag/workflows.git
	branch = main
[submodule "submodules/playbooks"]
	path = submodules/playbooks
	url = https://github.com/oreolag/playbooks.git
	branch = main
